// Buttons 
// -----------------------------------------------
// -----------------------------------------------
.button {
    display: inline-block;
    font-weight: $font-semibold;
    text-decoration: none;
    text-transform: uppercase;
    background: $brand-secondary;
    color: $white;
    border-radius: ($base-point-grid * 8);
    transition: background $base-duration $base-timing;

    &:visited {
        color: $white;
    }
    &:hover {
        color: $white;
        background: darken($brand-secondary, 5%);
        text-decoration: none;
    }
    &:active {
        background: darken($brand-secondary, 7%);

    }

    &.button-large {
        padding: ($base-point-grid * 1.6) ($base-point-grid * 6);
        font-size: $base-font-size;
    }
    
    &.button-small {
        padding: ($base-point-grid * 0.7) ($base-point-grid * 2.2);
        font-size: 0.7857rem;
    }
}