// Footer
// -----------------------------------------------
// -----------------------------------------------
#footer {
    padding: ($base-point-grid * 6) /*48px*/ 0;
    font-size: 0.875rem;
    p {
        color: rgba($white, 0.4);
    }
}