// Buttons
// -----------------------------------------------
// -----------------------------------------------
.button {
  display: inline-block;
  font-weight: $font-semibold;
  text-decoration: none;
  text-transform: uppercase;
  background: $brand-tertiary;
  color: $white;
  border-radius: ($base-point-grid * 8);
  text-align: center;
  transition: background $base-duration $base-timing;
  outline: none;
  z-index: 1;

  &:visited {
    color: $white;
  }

  &:hover {
    color: $white;
    background: darken($brand-tertiary, 5%);
    text-decoration: none;
  }

  &:active {
    background: darken($brand-tertiary, 7%);
  }

  &.button-large {
    padding: ($base-point-grid * 1.6) ($base-point-grid * 6);
    font-size: 0.9rem;
  }

  &.button-small {
    padding: ($base-point-grid * 0.7) ($base-point-grid * 2.2);
    font-size: 0.7857rem;
  }
}
