// Code
// -----------------------------------------------
// -----------------------------------------------

p, ul {
  code {
    background: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 1px;
    font-family: $code-font-family;
    padding: 0.1em 0.2em;
    font-size: 0.9rem;
    font-weight: $font-bold;
  }
}

.highlighter-rouge div.highlight {
  border-left: 4px solid $brand-primary;
  border-radius: 2px;
  display: block;
  overflow-x: auto;
  color: #312d2c;
  background: #f5f5f5;
  padding: ($base-point-grid * 1.5) 0 ($base-point-grid * 1.5) ($base-point-grid * 2);
  font-family: $code-font-family;
  font-size: 0.9rem;
  margin: 0 0 12px;
}
