// Navigation
// -----------------------------------------------
// -----------------------------------------------
#navigation {
  position: fixed;
  padding: ($base-point-grid * 5) 0;
  width: 100%;
  overflow: hidden;
  background: rgba($brand-primary, 0);
  transition: all $base-duration $base-timing;
  z-index: 20;

  &.navigation-scroll {
    padding: ($base-point-grid * 2) 0;
    background: rgba($brand-primary, 0.95);
  }

  .content-navigation {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    .navigation-brand {
      font-size: 1.333rem;
      font-weight: $font-semibold;

      a {
        color: $white;
        text-decoration: none;
        transition: none;
      }
    }

    .navigation-menu {
      li {
        display: inline-block;

        &:last-child {
          margin-right: 0;
        }

        a {
          padding: ($base-point-grid / 2) ($base-point-grid * 2);
          color: rgba($white, 0.9);
          text-decoration: none;
          transition: background $base-duration $base-timing;
          border-radius: ($base-point-grid * 8);

          &:visited {
            color: $white;
          }

          &:hover {
            color: $white;
            text-decoration: none;
            background: darken($brand-primary, 5%);
          }

          &:active {
            color: $white;
          }

          @include bp(medium) {
            padding: 0;
            margin: 0 12px;
          }
        }
      }

      .nav-item-text {
        @include bp(medium) {
        display: none;
        }
      }

      .nav-item-icon {
        display: none;

        @include bp(medium) {
            display: inline-block;
        }
      }

      .dropdown {
        position: relative;
        display: inline-block;
        outline: 0px;

        a {
          &:hover {
            background: darken($brand-primary, 4%);
          }
        }
      }

      /* Documentation Dropdown Content (Hidden by Default) */
      .dropdown-content {
        font-size: 0.800rem;
        position: absolute;
        min-width: 145px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -8px;
        background: rgba($brand-primary, 0.95);
        opacity: 0.5;
        transform: rotate3d(1, 0, 0, 90deg);
        transition: transform ease 250ms, opacity ease 100ms;
        transform-origin: top;

        a {
          padding: 12px 9px;
          text-decoration: none;
          display: block;
        }

        a:nth-child(4) {
          border-top: solid 1px rgba(255, 255, 255, 0.5);
        }
      }

      /* Show the documentatioin dropdown menu (use JS to add this class
        to the .dropdown-content container when the user clicks on
        the dropdown button) */
      .show {
        transform: rotate3d(1,0,0,0);
        opacity: 1;
      }

    }
  }
}
