@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font: 14px/25px "Poppins", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  margin: 0;
  background: #fafafa;
  color: #312d2c;
  font: 14px/25px "Poppins", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

h1 {
  font-family: "Poppins", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: #312d2c;
  margin: 0.5em 0 0.6em; }

h1 a {
  color: #312d2c; }

h2 {
  font-family: "Poppins", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #312d2c;
  margin: 1em 0 0.6em; }

h3 {
  font-family: "Poppins", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #312d2c;
  margin: 1em 0 0.3em; }

h3 > code {
  font-weight: bold;
  font-size: 1.2rem; }

h4 {
  font-family: "Poppins", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #312d2c;
  margin: 1.275em 0 0.85em; }

h5,
h6 {
  font-family: "Poppins", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #312d2c;
  margin: 1.275em 0 0.85em; }

p {
  margin: 0 0 1em; }

ul,
ol {
  padding: 0 0 0 1.5em;
  margin: 0 0 0.85em; }

ul.item-container {
  padding: 0; }

ul:first-of-type,
ol:first-of-type {
  margin: 0; }

blockquote {
  margin: 0 0 0.85em;
  padding: 0 15px;
  color: #858585;
  border-left: 4px solid #e5e5e5; }

img {
  max-width: 100%; }

a {
  color: #ff4650;
  text-decoration: none; }
  a > *:hover, a:hover, a:focus {
    opacity: 0.7; }
  a:focus {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05); }

table {
  background: #fafafa;
  width: 100%;
  font-size: 13px;
  line-height: 23px;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  margin: 0 0 0.85em; }

th,
td {
  padding: 6px 13px;
  border: 1px solid rgba(12, 40, 73, 0.08); }

pre {
  margin: 0 0 1.275em;
  padding: 0.85em 1em;
  overflow: auto;
  background: #f5f5f5;
  font-family: Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
  border-radius: 2px; }

code {
  font-family: Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
  font-size: 13px;
  line-height: 0.85em; }

p > code,
li > code {
  background: white;
  padding: 0.1em 0.2em;
  font-weight: bold;
  border: 1px solid #eee;
  border-radius: 1px; }

td > code,
.graybox code {
  font-weight: bold;
  font-size: 12px; }

pre code {
  padding: 0;
  white-space: pre; }

.content-wrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .content-wrapper {
      flex-direction: row; } }

.limiter {
  max-width: 1360px;
  margin: auto;
  padding: 0 30px; }

.space-right2 {
  margin-right: 20px; }

.header-container {
  background-image: linear-gradient(to right, #ff4650, #ff4b2c); }

.header {
  display: flex;
  padding: 12px 0;
  font-size: 1rem;
  color: white; }
  @media (max-width: 768px) {
    .header {
      display: block; } }

.header-title {
  font-weight: 700;
  font-size: 1.3rem;
  vertical-align: middle; }

.header-tag {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  opacity: 0.8;
  padding: 2px 8px;
  margin-left: 12px; }

.header-col {
  margin: 5px 0 0 0;
  padding: 0; }

.header-col--primary {
  flex: 1; }

.header-link {
  font-family: "Poppins", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff; }

.header-image,
.header-icon {
  padding-right: 2px;
  vertical-align: -6px;
  height: 16px; }

.breadcrumbs {
  font-size: 13px;
  padding: 8px 0;
  margin: 0;
  background: #f5f5f5; }

.carat {
  height: 10px;
  margin: 0 5px; }

.navigation {
  order: 2;
  font-size: 13px;
  padding-top: 20px; }
  @media (min-width: 768px) {
    .navigation {
      order: 1;
      width: 25%;
      min-width: 200px;
      max-width: 300px;
      padding-bottom: 64px;
      line-height: 20px;
      overflow: hidden;
      border-right: 1px solid rgba(12, 40, 73, 0.08); } }

.nav-groups {
  list-style-type: none;
  padding-left: 0; }
  .nav-groups .nav-group-tasks {
    margin: 8px 0;
    padding: 0 0 0 0; }

.nav-group-name {
  padding: 8px 0 8px 0; }

.small-heading,
h4 {
  font-size: 13px;
  font-family: "Poppins", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #312d2c;
  letter-spacing: 1px; }

.nav-group-task {
  font-size: 1em;
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ff4650; }

.nav-group-task[data-url^="Protocols/"] > .nav-group-task-link::after, .nav-group-task[data-name="MGLForegroundStyleLayer"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLMultiPoint"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLShape"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLSource"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLStyleFunction"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLStyleLayer"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLTileSource"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLVectorStyleLayer"] .nav-group-task-link::after {
  color: #999;
  font-size: 90%;
  margin-left: 0.5em; }

.nav-group-task[data-url^="Protocols/"] > .nav-group-task-link::after {
  content: "(Protocol)"; }

.nav-group-task[data-name="MGLForegroundStyleLayer"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLMultiPoint"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLShape"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLSource"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLStyleFunction"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLStyleLayer"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLTileSource"] .nav-group-task-link::after,
.nav-group-task[data-name="MGLVectorStyleLayer"] .nav-group-task-link::after {
  content: "(Abstract Class)"; }

.nav-group-name > .small-heading,
.nav-group-task-link {
  display: block; }

.nav-group-task-link {
  color: #4c4644; }

.main-content {
  order: 1; }
  @media (min-width: 768px) {
    .main-content {
      order: 2;
      flex: 1;
      padding-bottom: 60px;
      max-width: 75%; } }

.section {
  padding: 0 20px; }
  @media (max-width: 768px) {
    .section {
      padding: inherit; } }

.section-content {
  margin: 0 auto;
  padding: 16px 0;
  border-bottom: 1px solid rgba(12, 40, 73, 0.08); }

.section-content img {
  margin: 0 auto; }

.section-name {
  color: #312d2c;
  display: block; }

.anchor-icon {
  margin-left: 4px;
  opacity: 0.7;
  display: inline-block;
  background: url("../img/link.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px; }

h1 > .anchor-icon {
  margin-bottom: 2px; }

.declaration .highlight {
  font-size: 15px;
  overflow-x: initial;
  padding: 8px 0;
  line-height: 20px;
  margin: 0;
  background-color: transparent;
  border: none; }

.highlight a {
  text-decoration: underline; }

.task-group-section {
  border-top: 1px solid #ddd; }

.task-group {
  padding-top: 0; }

.task-name-container a[name]::before {
  content: "";
  display: block; }

.item {
  width: 100%;
  list-style-type: none; }
  .item a[name]::before {
    content: "";
    display: block; }
  .item .token {
    margin-left: 0;
    font-size: 13px;
    display: flex;
    padding: 5px 0;
    line-height: 14px; }
  .item .token-name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .item .token-icon {
    background: url("../img/minus.svg");
    width: 17px;
    display: inline-block;
    vertical-align: middle;
    height: 13px;
    opacity: 1;
    margin-left: 5px;
    background-repeat: no-repeat; }
  .item .token-icon-plus {
    background: url("../img/plus.svg");
    background-repeat: no-repeat; }
  .item .discouraged {
    text-decoration: line-through; }
  .item .declaration-note {
    font-size: 13px;
    color: #808080;
    font-style: italic; }

.pointer-container {
  border-bottom: 1px solid #ddd;
  left: -23px;
  padding-bottom: 13px;
  position: relative;
  width: 110%; }

.pointer {
  left: 21px;
  top: 7px;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: #fafafa;
  transform: rotate(45deg); }

.height-container {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .height-container .section {
    background: #f5f5f5;
    padding: 15px 20px;
    border-radius: 2px;
    margin: 10px 0 30px; }

.aside,
.language {
  padding: 6px 12px;
  margin: 12px 0;
  border-left: 3px solid #dddddd;
  border-radius: 0;
  overflow-y: hidden; }
  .aside .aside-title,
  .language .aside-title {
    font-size: 10px;
    font-family: "Poppins", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 2px 8px;
    display: inline;
    margin: 0;
    -webkit-user-select: none; }
  .aside p:last-child,
  .language p:last-child {
    margin-bottom: 0; }

.language {
  background: white;
  border-left: 4px solid #ff4650; }

.aside.aside-see,
.aside.aside-note {
  background: #f5f5f5; }
  .aside.aside-see .aside-title,
  .aside.aside-note .aside-title {
    padding-left: 0; }

.aside-warning,
.aside-deprecated,
.aside-unavailable {
  border-left: 3px solid #ff6666; }
  .aside-warning .aside-title,
  .aside-deprecated .aside-title,
  .aside-unavailable .aside-title {
    color: #f00; }

.graybox {
  width: 100%;
  border-collapse: separate;
  border: solid rgba(12, 40, 73, 0.08) 1px;
  border-radius: 2px; }
  .graybox p {
    margin: 0;
    word-break: break-word;
    min-width: 50px; }
  .graybox td {
    padding: 5px 25px 5px 10px;
    vertical-align: middle; }
  .graybox tr td:first-of-type {
    text-align: right;
    padding: 7px;
    vertical-align: top;
    word-break: normal;
    width: 40px;
    border-left: none;
    border-top: none; }
  .graybox th,
  .graybox td {
    border-right: none;
    border-top: none; }
  .graybox td:first-child,
  .graybox th:first-child {
    border-left: none; }
  .graybox tr:last-of-type td {
    border-bottom: none; }

.show-on-github-icon {
  width: 16px;
  display: inline-block !important;
  vertical-align: -3px;
  padding-left: 2px; }

.show-on-github a {
  margin: 10px 0 10px;
  display: inline-block;
  font-size: 13px; }

form[role="search"] input {
  font: 14px/25px "Poppins", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 0 15px;
  height: 36px;
  margin: 0;
  border: 1px solid rgba(12, 40, 73, 0.08);
  background: #f5f5f5;
  outline: none;
  margin-bottom: 10px;
  border-radius: 2px;
  width: calc(100% - 30px); }
  .loading form[role="search"] input {
    background: white url(../img/spinner.gif) center right 4px no-repeat; }
form[role="search"] input:focus {
  border: 1px solid #ff4650;
  background: #fff; }
form[role="search"] .twitter-typeahead {
  width: 100%; }
form[role="search"] .tt-hint {
  color: #aaa; }
form[role="search"] .tt-menu {
  margin: -10px 0 0;
  background: #fbfbfb;
  color: #333;
  border: 1px solid rgba(12, 40, 73, 0.08);
  width: calc(100% - 30px);
  max-height: 0;
  opacity: 0;
  transition: max-height ease-in 350ms, opacity ease-in 250ms; }
form[role="search"] .tt-highlight {
  font-weight: bold; }
form[role="search"] .tt-suggestion {
  font: 14px/25px "Poppins", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 8px; }
  form[role="search"] .tt-suggestion span {
    display: table-cell;
    white-space: nowrap; }
  form[role="search"] .tt-suggestion .doc-parent-name {
    width: 100%;
    text-align: right;
    font-weight: normal;
    font-size: 0.9em;
    padding-left: 16px; }
form[role="search"] .tt-suggestion:hover,
form[role="search"] .tt-suggestion.tt-cursor {
  cursor: pointer;
  background-color: #ff4650;
  color: #fff; }
form[role="search"] .tt-suggestion:hover .doc-parent-name,
form[role="search"] .tt-suggestion.tt-cursor .doc-parent-name {
  color: #fff; }

.footer {
  background-color: #312d2c;
  border-top: 1px rgba(12, 40, 73, 0.08) solid;
  padding: 48px 32px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.875rem; }
  .footer div:last-child {
    margin-top: 19.6px; }
  .footer p {
    display: inline;
    line-height: 19.6px;
    margin: 0; }
  .footer a {
    color: rgba(255, 255, 255, 0.6); }
  @media only screen and (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-between; }
      .footer p {
        display: block; }
      .footer div:last-child {
        margin-top: 0; } }

html.dash .header,
html.dash .breadcrumbs,
html.dash .navigation {
  display: none; }
html.dash .height-container {
  display: block; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-regular.eot");
  src: url("../fonts/opensans-regular.eot#iefix") format("embedded-opentype"), url("../fonts/opensans-regular.woff") format("woff"); }
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensans-bold.eot");
  src: url("../fonts/opensans-bold.eot#iefix") format("embedded-opentype"), url("../fonts/opensans-bold.woff") format("woff"); }
.strong {
  font-family: "Poppins", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.key-main {
  border-color: #ff4b2c; }

.key-other {
  border-color: #ff4b2c;
  border-width: 2px; }

.key-main-text,
.key-main-other {
  background: rgba(0, 0, 0, 0.1); }

.key-main-text {
  color: #ff4650; }

.key-other-text {
  color: #ff4b2c; }
